.card {
  align-items: center;
  background: var(--bg-color);
  border-radius: 5px;
  border: var(--border-width) solid var(--border-color);
  box-shadow: 4px 4px 0 var(--border-color);
  margin: auto;
  padding: 1.5rem 2rem;
  position: relative;
  width: 100%;
}

/* card header */
.cardHeader {
  margin-right: auto;
}

.cardImage {
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--border-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 120px;
  object-fit: cover;
  overflow: hidden;
  width: 120px;
}

.cardImage img {
  height: 100%;
  width: 100%;
}

/* card body */
.cardBody {
  display: flex;
  flex-direction: column;
  padding: 0 0 1.5rem 0;
  width: 100%;
}

.cardBodyList {
  display: flex;
  flex-direction: column;
}

.cardBodyListRow {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  text-wrap: nowrap;
}

/* card item */
.cardBodyItem {
  display: grid;
  gap: 1rem;
  grid-template-columns: 80px 1fr;
  padding: 0.5rem 0;
}

.cardBodyItemColumn {
  display: flex;
  flex-direction: column;
}

/* skeleton */
.cardSkeletonImage {
  height: 120px;
  width: 120px;
  background-color: var(--skeleton-color);
}

.cardSkeletonBox {
  height: 0.875rem;
  background-color: var(--skeleton-color);
}

.cardSkeletonButton {
  height: 40px;
  width: 120px;
  background-color: var(--skeleton-color);
}

/* breakpoints */
@media (min-width: 768px) {
  .cardImage {
    height: 200px;
    width: 200px;
  }

  .cardBodyItem {
    grid-template-columns: 120px 1fr;
  }
}

/* variants */
.cardSimple {
  cursor: pointer;
  transition: box-shadow 0.14s ease-out, transform 0.14s ease-out;
  padding: 1rem;
  height: 100%;
}

.cardSimple:hover {
  background: var(--secondary-color);
  transform: translate(-4px, -4px);
}

.cardSimpleHeader {
  padding: 0;
  border: 0;
  box-shadow: none;
}

.cardImageSimple {
  height: 40px;
  object-fit: cover;
  overflow: hidden;
  width: 40px;
}
